body {
    background-color: #8094bf;
}

h1 {
    background-color: #3f4395;
    color: white;
    width: 145px;
    padding: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h3 {
    color: white;
    margin: 5px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

p {
    margin: 5px;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

form {
    background-color: #6380be;
    border: 1px solid;
    padding: 10px;
}

input {
    border: 1px solid;
    margin: 3px;
    padding: 2px;
}

div {
    background-image: url(https://th.bing.com/th/id/OIP.qOHduS-4uaSd3bdtPWosZAHaEo?w=271&h=180&c=7&r=0&o=5&pid=1.7);
    }
